{% for r_comment in reports_comment  %}
<div class="activities__box">
            <div class="activities__boxHeader roomListRoom__header">
              <a href="profile.html" class="roomListRoom__author">
                <div class="avatar avatar--small">
                  <img src={{r_comment.user.avatar.url}} />
                </div>
                <p>
                    {{r_comment.user}}
                  <span>{{r_comment.created|timesince }} ago</span>
                </p>
              </a>
              <div class="roomListRoom__actions">
                  {% if request.user == r_comment.user %}
                    <a href="#">
                      <svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32">
                        <title>remove</title>
                        <path
                          d="M27.314 6.019l-1.333-1.333-9.98 9.981-9.981-9.981-1.333 1.333 9.981 9.981-9.981 9.98 1.333 1.333 9.981-9.98 9.98 9.98 1.333-1.333-9.98-9.98 9.98-9.981z"
                        ></path>
                      </svg>
                    </a>
                  {% endif %}
              </div>
            </div>
            <div class="activities__boxContent" style="margin-bottom: 0.5rem;">
              <p>replied to post “<a href="">{{r_comment.report}}</a> @ {{r_comment.report.locate}}</p>
              <div class="activities__boxRoomContent">
                {{r_comment}}
              </div>
            </div>

</div>
{% endfor %}