{% extends 'main.html' %}

{% block content %}
<main class="create-room layout">
    <div class="container d-flex justify-content-center">
      <div class="layout__box">
        <div class="layout__boxHeader">
          <div class="layout__boxTitle">
            <a href="{% url 'home'%}">
              <svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32">
                <title>arrow-left</title>
                <path
                  d="M13.723 2.286l-13.723 13.714 13.719 13.714 1.616-1.611-10.96-10.96h27.625v-2.286h-27.625l10.965-10.965-1.616-1.607z">
                </path>
              </svg>
            </a>
            <h3>ADD STAFFS AND ADMIN</h3>
          </div>

        </div>
        <div class="layout__body">
   
          <ul class="list-group m-2 p-3 h-100" style="background-color:azure;">
            {% for eachuser in customUsers%}
            <li class="list-group-item d-flex justify-content-between align-items-center my-1 shadow">
              <div>
                  <span>{{eachuser}}
                    {%if eachuser.is_superuser == True%}

                      <i>Admin</i>
                    {% elif eachuser.is_staff == True %}
                      <i>Staff</i>
                    {% else %}
                      <i>user</i>
                    {% endif%}
                  </span>
              </div>

              <div>
                  <button class="btn btn-success btn-sm mr-2 updateToAdmin"  data-customuser="{{ eachuser.id }}" data-uaction="superuser" >Admin</button>
                  <button class="btn btn-primary btn-sm mr-2 updateToStaff" data-customuser="{{ eachuser.id }}" data-uaction="staff" >Staff</button>
                  <button class="btn btn-secondary btn-sm updateToUser" data-customuser="{{ eachuser.id }}" data-uaction="user" >User</button>
              </div>
            </li>
            {%endfor%}
          </ul>
      

        </div>
      </div>
    </div>
  </main>
{% endblock %}

<h3>Add groups </h3>
